# Django Secret & Environment Configuration Example
# Copy this file to .env before deploying or running in production

SECRET_KEY=django-insecure-ab659-7++vk1heupqx8#_m0r!x=$mm0y3!!qs1i6(2qm=s7f$)
DEBUG=True
ALLOWED_HOSTS=*

# Email Notifications
ADMIN_NOTIFICATION_EMAIL=ankit@example.com
DEFAULT_FROM_EMAIL=noreply@portfolio.com
